
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.cache
*.ilk
*.aps
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.tlog
*.lastbuildstate

# Visual Studio folders
.vs/
.vscode/
.idea/
Debug/
Release/
x64/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Others
*.swp
*~
*.DS_Store
Thumbs.db

textbook.pdf
